/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding: 5em;
}
.light-padded {
  padding: 1em;
}

// Backgrounds
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

// Sections
.readme-section {
    background-color: #FAFAFA;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 1px 1px 3px #F0F0F0;
    position: relative;
    // padding-bottom: 80px;
}

.flex {
  display: flex;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
