<div class="card">
  <div class="padd">
    <div class="img-container">
      <%= image_tag "/images/middleman.png" %>
    </div>
    <div class="text-padd">
      <div>
        <h3>Middleman</h3>
      </div>
    </div>
  </div>
</div>
