---
title: Git
---

<div class="padded">

  <section class="readme-section">
    <h3>Base</h3>
    <pre>
      <code class="bash">
        $> git checkout -b *newbranch*    # crée une nouvelle branche
        $> git add .
        $> git commit -m "comment"
        $> git push origin *newbranch*
        # => go merge on github
        $> git checkout master            # retour sur la branche master
        $> git pull

        $> git sweep                      # delete merged branches
        OR
        $> git checkout *newbranch*       # retour sur *newbranch*
        $> git merge master               # fast forward => set *newbranch* as master
      </code>
    </pre>
  </section>
  <section class="readme-section">
    <h3>Advanced</h3>
    <pre>
      <code class="bash">
        $> git clean      # deletes all your untracked files/directories
      </code>
    </pre>
  </section>
  <section class="readme-section">
    <h3>Issue : force git pull</h3>
    <pre>
      <code class="bash">
        ### between a branch and the master

        $> git fetch --all
            # downloads the latest from remote without trying to merge or rebase
        $> git reset --hard origin/master
            # reset : resets the master branch to what you just fetched
            # --hard : changes all files in your working tree to match files in master

        ### between two branches

        $> git reset --hard origin/your_branch

        ### Try to git pull again
      </code>
    </pre>
  </section>


</div>
