---
title: Middleman
---

<div class="padded">

  <section class="readme-section">
    <h3>Start</h3>
    <pre>
      <code>
        $> git clone https://github.com/jefvannot/middlemann_ready.git *nom-du-projet*
        $> cd *nom-du-projet*
        $> rm -rf .git
        $> git init
        $> git add .
        $> git commit -m "start"
        $> hub create # crée le repo sur github et le relie au repo local
        $> git push origin master
      </code>
    </pre>
  </section>

  <section class="readme-section">
    <h3>Helpers</h3>
    <pre>
      <code>
        &lt;div>test&lt;/div>
      </code>
    </pre>
  </section>

</div>


