---
title: Web tools
---

<div class="padded">

  <section class="readme-section">
    <h3>Highlight.js</h3>
    <h4>Code syntax highlighter</h4>
    <p>Get the <%= link_to "highlight.pack.js", "https://highlightjs.org/download/" %>
      <br>Put it in javascript folder
      <br>Active it in js
      <br>Choose a <%= link_to  "highlight css style", "https://github.com/isagalaev/highlight.js/tree/master/src/styles" %>

      <br>Store it in vendor folder (middleman)
      <br>Reload server</p>
    <p>For middleman, follow every steps of this <%= link_to  "tuto", "http://www.downrightlies.net/posts/2015/05/06/how-to-get-beautiful-code-embeds-in-your-middleman-blog-using-highlight-js.html" %></p>
  </section>

  <section class="readme-section">
    <h3>Helpers</h3>
    <pre>
      <code>

      </code>
    </pre>
  </section>

</div>
